@import url('https://fonts.googleapis.com/css2?family=Poppins:wight@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    /* background: #081b29; */
        
    color: black;
    min-height: 100vh;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10rem;
    
    
}



table, th {
    border: 1px solid;
}

td {
    border-spacing: 10px;
    border: 1px solid;
    padding: 7px;

}

.table-container{
    display: flex;
    justify-content: left;
    margin-top: 5rem;
    margin-left: 5rem;
    
    
}

h1{
    
    color: blanchedalmond;
    
    
}

.table2{
    width: 400px;
    height: 100px;
    color: transparent;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;

}




#checkoutbtn{
    margin-top: 1rem;
}

.disablebtn{
    pointer-events: none;
    opacity: 0.4;
}

a{
    color: blanchedalmond;

}

.form-container{
    
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.form-container h1{
    font-size: 36px;
    text-align: center;
}

.form-container .form-input{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
}

.form-input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    
}

.form-input input::placeholder{
    color: #fff;

}

.form-input label{
    position: absolute;
    left: 20px;
    
}

.form-container .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    
}

.table-button .btn{

    width: 30%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-left: 60px;
    
}


/* Hide the scrollbar */
body::-webkit-scrollbar {
    width: 0.0em; /* Set the width to 0.5em or 0 to hide completely */
  }
  
  /* Optional styling (track and thumb) */
  body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #888;
  }

